{% extends 'airlinePanel/baseAirlinePanel.html.twig' %}


{% block title %}Тарифы багажа{% endblock %}

{% block workPlace %}
    <h1>Тарифы багажа главная</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Политика багажа</th>
                <th>Стоимость на километр</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for baggage_politicy_rate in baggage_politicy_rates %}
            <tr>
                <td>{{ baggage_politicy_rate.id }}</td>
                <td>{{ baggage_politicy_rate.baggagePoliticyID.baggagePoliticyname }}</td>
                <td>{{ baggage_politicy_rate.costPerKM }}</td>
                <td>
                    <a href="{{ path('app_baggage_politicy_rate_edit', {'id': baggage_politicy_rate.id}) }}" class="aUpdate">Обновить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Записей нет</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
