<h1>Приветствуем! Пожалуйста, подтвердите вашу почту!</h1>

<p>
    Пожалуйста, подтвердите вашу почту перейдя по этой ссылке: <br><br>
    <a href="{{ signedUrl|raw }}">Подтвердить</a>.
    Ссылка будет действительна {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Удачи!
</p>
