{% extends 'base.html.twig' %}

{% block title %}New AircraftModel{% endblock %}

{% block body %}
    <h1>Create new AircraftModel</h1>

    {{ include('aircraft_model/_form.html.twig') }}

    <a href="{{ path('app_aircraft_model_index') }}">back to list</a>
{% endblock %}
