{% extends 'base.html.twig' %}

{% block title %}Сброс пароля{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_start(requestForm) }}
        <div class="form_div">
            <h1>Сброс пароля</h1>


            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Введите ваш адрес электронной почты, и мы отправим вам
                    ссылку для сброса пароля
                </small>
            </div>

            <button class="btn btn-primary">Отправить письмо сброса пароля</button>
        </div>
    {{ form_end(requestForm) }}
{% endblock %}
