{% extends 'base.html.twig' %}

{% block title %}New Airline{% endblock %}

{% block body %}
    <h1>Create new Airline</h1>

    {{ include('airline/_form.html.twig') }}

    <a href="{{ path('app_airline_index') }}">back to list</a>
{% endblock %}
