

footer {
    background-color: #DCDCDC;
    padding-right: 10%;
    padding-left: 5%;
    margin-top: auto;
    width: 100%;
}

.messengers {
    margin-left: 10px;
}

.messengers:hover {

    filter: brightness(1.2);
    /*transition: filter 0.3s ease;*/
    transform: translateY(-4px) scale(1.05);

}

