.Main_poster {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 40vw;
    text-align: center;
    border-top: solid 1px #dbeafe;
    box-sizing: border-box;
}

.Main_poster h1 {
    color: white;
    font-size: 3vw;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

.Main_poster .title {
    margin-top: 10%;

}

.Main_poster .title {
    transition: all 0.3s ease;
}

.Main_poster:hover .title {
    transform: scale(1.05); /* Немного увеличивает */
    text-shadow: 2px 2px 8px rgba(0,0,0,0.3); /* Добавляет тень */
}




.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {

    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    /*transform: rotate(180deg);*/
    transform: translateY(-10px) scale(1.05);
}
