body {
    /*background-color: skyblue;*/
    background: linear-gradient(#9A5044, #E8D9A9) fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1; /* занимает всё доступное пространство */
}