{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Новый аэропорты{% endblock %}

{% block workPlace %}
    <h1>Создать новую запись: транспорты</h1>

    <button type="submit" class="btn aCreate" form="myFormId">Сохранить</button>

    {{ include('admin/templates/airports/_form.html.twig') }}

{% endblock %}
