<form method="post" id="myDeleteFormId" action="{{ path('app_airline_delete', {'id': airline.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ airline.id) }}">
</form>
