{% extends 'base.html.twig' %}

{% block title %}Билеты главная{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tickets_page.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search_form.css') }}">

{% endblock %}

{% block body %}
    <h1>ftdsdrt</h1>

{% endblock %}
