{% extends 'airlinePanel/baseAirlinePanel.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}


    {% block workPlace %}
        <h1>Вы находитесь на главной странице панели авиакомпаний</h1>
    {% endblock workPlace %}