{% extends 'base.html.twig' %}

{% block title %}New FlightsSeats{% endblock %}

{% block body %}
    <h1>Create new FlightsSeats</h1>

    {{ include('flights_seats/_form.html.twig') }}

    <a href="{{ path('app_flights_seats_index') }}">back to list</a>
{% endblock %}
