{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Новый политика багажа{% endblock %}

{% block workPlace %}
    <h1>Создать новую запись: политика багажа</h1>

    <button type="submit" class="btn aCreate" form="myFormId">Сохранить</button>

    {{ include('admin/templates/baggage_politicy/_form.html.twig') }}

{% endblock %}
