{% extends 'base.html.twig' %}

{% block title %}Edit HundLuggagePoliticy{% endblock %}

{% block body %}
    <h1>Edit HundLuggagePoliticy</h1>

    {{ include('hund_luggage_politicy/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hund_luggage_politicy_index') }}">back to list</a>

    {{ include('hund_luggage_politicy/_delete_form.html.twig') }}
{% endblock %}
