{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}


    {% block workPlace %}
        <h1>Вы находитесь на главной странице администраторской панели</h1>
    {% endblock workPlace %}