{% extends 'base.html.twig' %}

{% block title %}Edit SeatsDiscriptionShablon{% endblock %}

{% block body %}
    <h1>Edit SeatsDiscriptionShablon</h1>

    {{ include('seats_discription_shablon/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_seats_discription_shablon_index') }}">back to list</a>

    {{ include('seats_discription_shablon/_delete_form.html.twig') }}
{% endblock %}
