{% extends 'base.html.twig' %}

{% block title %}New Manufacturers{% endblock %}

{% block body %}
    <h1>Create new Manufacturers</h1>

    {{ include('manufacturers/_form.html.twig') }}

    <a href="{{ path('app_manufacturers_index') }}">back to list</a>
{% endblock %}
