{% extends 'personal_account/basePersonalAccount.html.twig' %}


{% block body %}

    <div class="personal_account_window">
        <h1>Похоже, вы не вошли в аккаунт.</h1>
        <br>
        <h2>Пожалуйста, пройдите авторизацию или создайте новый аккаунт, ели его еще нет.</h2>
    </div>

{% endblock %}
