<form method="post" id="myDeleteFormId" action="{{ path('app_aircraft_model_delete', {'id': aircraft_model.id}) }}" onsubmit="return confirm('Вы уверены?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aircraft_model.id) }}">
</form>
