{% extends 'base.html.twig' %}

{% block title %}О нас{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/about_us.css') }}">

{% endblock %}

{% block body %}
    <div class="white_line"></div>
    <br>

    <div class="about_us_window">
        <div class="about_us_title">
            <h1>О нас</h1>
        </div>
        <div>
            <h1>MyFlight - это учебный проект группы <br />
                начинающих разработчиков ПО "OpenZheDoor".</h1>
        </div>

        <div class="facts_list">
            <div class="fact">
                <h1>Образование команды</h1>
                <br />
                <p>Группа была образована 28 января 2025 года.
                В нее вошли 7 человек, но до конца разработки дошли
                лишь пятеро.</p>
                <br />
                <p>Список участников приведен ниже:</p>
                <p>Гладких М.А. - бизнес аналитик, специалист по CEO оптимизации;</p>
                <p>Кузнецов М.И. - бизнес аналитик, тестировщик;</p>
                <p>Макаров Д.А. - верстальщик, тестировщик;</p>
                <p>Табарина В.В. - главный верстальщик, проектный менеджер;</p>
                <p>Яковлев П.А. - разработчик. </p>

            </div>
            <div class="fact">
                <h1>Цель проекта</h1>
                <br />
                <br />
                <p>Изначальной целью проекта считается создание html верстки, содержащей 5 подсистем.</p>
                <p>В ходе обсуждений было решено создать проект с полностью динамически задаваемыми данными основной бизнес логики.</p>
                <p>В результате была создана система, предоставляющая возможность ввода данных о рейсах и авиабилетах с дальнейшим
                    использованием этих данных для снабжения клиентской части информацией об ассортименте.</p>


            </div>
            <div class="fact">
                <h1>Перспективы проекта</h1>
                <br />
                <p>С функцианальной точки зрения сайт полностью соответствует сформулированным требования и дополнения не предусматривается.
                    Тем не менее, архитектура Symfony, на котором был написан проект позволяет относительно легко добавлять новые подсистемы</p>
                <p>Визуальная часть проекта была написана без каких-либо продвинутых инструментов создания графического интерфейса.
                    Из-за этого сайт имеет неказистый интерфейс и минимально возможное количество деталей.
                    Из этого формулируется желательность переработки пользовательского интерфейса с использование соответствующих технологий.</p>

            </div>
        </div>




    </div>


{% endblock %}