<form method="post" action="{{ path('app_baggage_politicy_delete', {'id': baggage_politicy.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ baggage_politicy.id) }}">
    <button class="btn">Delete</button>
</form>
