{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Шаблон мест{% endblock %}

{% block workPlace %}
    <h1>Шаблон мест главная</h1>

    <a href="{{ path('app_seats_discription_shablon_new') }}" class="aCreate">Создать</a>

    <table class="table">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Шаблон мест</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for seats_discription_shablon in seats_discription_shablons %}
            <tr>
                <td>{{ seats_discription_shablon.id }}</td>
                <td>{{ seats_discription_shablon.SeatsDiscriptionShablonName }}</td>
                <td>
                    <a href="{{ path('app_seats_discription_shablon_edit', {'id': seats_discription_shablon.id}) }}" class="aUpdate">Обновить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Записей нет</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
