{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Edit Aircraft{% endblock %}

{% block body %}
    <h1>Edit Aircraft</h1>

    {{ include('admin/templates/aircraft/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_aircraft_index') }}">back to list</a>

    {{ include('admin/templates/aircraft/_delete_form.html.twig') }}
{% endblock %}
