{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Новый транспорт{% endblock %}

{% block workPlace %}
    <h1>Создать новую запись: транспорт</h1>

    <button type="submit" class="btn aCreate" form="myFormId">Сохранить</button>

    {{ include('admin/templates/aircraft/_form.html.twig') }}

{% endblock %}
