{% extends 'base.html.twig' %}

{% block title %}Edit Airports{% endblock %}

{% block body %}
    <h1>Edit Airports</h1>

    {{ include('airports/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_airports_index') }}">back to list</a>

    {{ include('airports/_delete_form.html.twig') }}
{% endblock %}
