{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Изменить данные города{% endblock %}

{% block workPlace %}
    <h1>Изменить данные города</h1>

    <button type="submit" class="btn aUpdate" form="myFormId">Обновить</button>
    <button type="submit" class="btn aDelete" form="myDeleteFormId">Удалить</button>

    {{ include('admin/templates/user_accounts/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('admin/templates/user_accounts/_delete_form.html.twig') }}

{% endblock %}
