<form method="post" id="myDeleteFormId" action="{{ path('app_manufacturers_delete', {'id': manufacturer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ manufacturer.id) }}">
</form>
